.home {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.home_img {
  width: 100%;
  z-index: -1;
  margin-bottom: 50px;
  height: 500px;
}
.home_row {
  display: flex;
  z-index: 1;
  margin-right: 5px;
  margin-left: 5px;
}
