.productcart {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.productcart-img {
  object-fit: contain;
  width: 160px;
  height: 160px;
  border: 1px solid #ccc;
}
.productcart-title {
  font-size: 16px;
  font-weight: 600;
}
.productcart-info {
  padding-left: 20px;
}
.productcart-info > button {
  background-color: orange;
  border: 1px solid;
  margin-top: 10px;
}
.productcart-info > button:hover {
  background-color: darkorange;
}
.productcart-info > button:active {
  background-color: orange;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
